.title-h1 {
  width: 21ch;
  animation: typing 3.5s, cubic-bezier(0.1, -0.6, 0.2, 0);
  white-space: nowrap;
  overflow: hidden;
  font-size: 3em;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  color: paleturquoise;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-h1 span {
  display: table;
  font-size: 0.5em;
  font-weight: 300;
  padding-top: 10px;
  color: snow;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

select {
  background-color: transparent;
  font-size: 18px;
  color: snow;
}

select option {
  color: snow;
  background-color:#2f4f4f;
}

.menu__link {
  color: snow;
  font-size: 18px;
  transition: color 0.3s ease 0s;
  margin: 0px 20px 0px 0px;
}

.menu__link._active {
  color: #AFEEEE;
}

.page__bullet {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: #fff;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.screen__content_photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
    border-radius: 50%;
  border: 2px solid #afeeee;
  margin-left: 20px;
}

.screen__content_info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.screen__content_info p {
  font-size: 1.2em;
  line-height: 130%;
}


.portfolio__item_btn {
  padding: 0 25px;
  margin-top: 50px;
  margin-left: 10px;
  outline: none;
  border: 2px solid #afeeee;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #afeeee;
  background-color: rgba(33, 133, 133, 0.1);
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
  transition: box-shadow 0.2s;
}

.portfolio__item_btn a {
  text-decoration: none;
  color:snow;
}

.portfolio__item_btn:hover {
  box-shadow: 1px 1px 3px rgba(175, 238, 238, 1);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out;
  transition: scale 0.3s ease-in-out;
}


.portfolio__item p {
  position: absolute;
  /* top: 40px; */
  top: 30px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color:snow;

}

.portfolio__item .weather {
  color: #000;
  font-weight: bold;
}

.portfolio__item img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;

}



.screen__contact h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
}

.screen__contact p {
  font-size: 1.2em;
  margin-top: 10px;
  line-height: 130%;
}


.social a {
  padding-left: 10px;
}

.social img:hover {
  transform: scale(1.1);
}
