.title-h1 {
  width: 21ch;
  animation: typing 2.5s, cubic-bezier(0.1, -0.6, 0.2, 0);
  white-space: nowrap;
  overflow: hidden;
  font-size: 3em;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  color: paleturquoise;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-h1 span {
  display: table;
  font-size: 0.5em;
  font-weight: 300;
  padding-top: 10px;
  color: snow;
}


@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h2 {
  margin: 5px 0px 10px 0px;
}

h2 a {
  margin-top: 5px;
  display: inline-block;
  color: snow;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-bottom: 2px solid #AFEEEE;
  text-shadow: 0 0 1px paleturquoise,0 0 1px paleturquoise,0 0 1px paleturquoise,0 0 1px paleturquoise;
}

h2 a:hover{
  text-shadow: 0 0 1px paleturquoise,0 0 2px paleturquoise,0 0 3px paleturquoise,0 0 3px paleturquoise;
}

select {
  background-color: transparent;
  font-size: 18px;
  color: snow;
}

select option {
  color: snow;
  background-color:#2f4f4f;
}

.menu__link {
  color: snow;
  font-size: 18px;
  transition: color 0.3s ease 0s;
  margin: 0px 20px 0px 0px;
}

.menu__link._active {
  color: #AFEEEE;
}

.page__bullet {
  width: 12px;
  height: 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
  background-color: #fff;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.screen__content_photo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
    border-radius: 50%;
  border: 2px solid #afeeee;
  margin-left: 20px;
}

.screen__content_info h2 {
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 10px;
}

.screen__content_info p {
  font-size: 1.2em;
  line-height: 130%;
}


.screen__contact h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 15px;
}

.screen__contact p {
  font-size: 1.2em;
  margin-top: 10px;
  line-height: 130%;
}


.social a {
  padding-left: 10px;
}

.social img:hover {
  transform: scale(1.1);
}
