@media (max-width: 916px) {
.page__pagination {
  right: 30px;
}
}

@media (max-width: 890px) {
    .menu__link {
    font-size: 15px;
    margin: 0px 10px 0px 0px;
  }
  .title-h1 {
    font-size: 2.5em;
  }

.title-h1 span {
font-size: 0.45em;
}

select option {
    font-size: 13px;

}

.about {
  justify-content: center;
  flex-wrap: wrap;
}

    .screen__content_photo {
  margin-top: 30px;
    }

.screen__content_photo img {
    margin-left: 0;
}

.screen__content_info {
  margin-bottom: 30px;
padding-left: 0;
}

.page__pagination {
  right: 20px;
}

.page__bullet {
  width: 9px;
  height: 9px;
}

}

@media (max-width: 770px) {
.carousel {
  width: 500px;
  height: 300px;
  position: relative;
}

.carousel-button-view {
  font-size: 2rem;
}

}


@media (max-width: 620px) {

section {
margin-top: 100px;
}

.title-h1 {
padding-left: 15px;
padding-right: 15px;
    }

select {
  margin-right: 10px;
}
.screen__content_info {
  margin-bottom: 200px;
padding-left: 20px;
padding-right: 20px;
}

    .screen__content_photo {
  width: 240px;
  height: 240px;
}

.screen__content_photo {
    margin-top: 50px;
}

.page__pagination {
  right: 10px;
}

@media (max-width: 770px) {
.carousel {
  width: 400px;
  height: 250px;
  position: relative;
}

.carousel-button-view {
  font-size: 2rem;
}

}

}

@media (max-width: 500px) {
.carousel {
  width: 360px;
  height: 250px;
  position: relative;
}

.title-h1 {
    font-size: 2.1em;
}

.carousel-button-view {
  font-size: 1rem;
}

.carousel-button {

  font-size: 2rem;

}
.slide p {
  font-size: 18px;
}
.carousel-button.prev {
  left: .5rem;
}

.carousel-button.next {
  right: .5rem;
}

h2 a{
  font-size: 18px;
}
}

@media (max-width: 400px) {
.carousel {
  width: 320px;
  height: 200px;
  position: relative;
}

.screen__content_info h2 {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.screen__content_photo {
    margin-top: 50px;
}
.screen__content_photo {
    width: 180px;
    height: 180px;
}

}