@media (max-width: 916px) {
.page__pagination {
  right: 30px;
}
}

@media (max-width: 890px) {
    .menu__link {
    font-size: 15px;
    margin: 0px 10px 0px 0px;
  }
  .title-h1 {
    font-size: 2.5em;
  }

.title-h1 span {
font-size: 0.45em;
}

select option {
    font-size: 13px;

}

.about {
  justify-content: center;
  flex-wrap: wrap;
}

    .screen__content_photo {
  margin-top: 30px;
    }

.screen__content_photo img {
    margin-left: 0;
}

.screen__content_info {
  margin-bottom: 30px;
padding-left: 0;
}

.page__pagination {
  right: 20px;
}

.page__bullet {
  width: 9px;
  height: 9px;
}

}


@media (max-width: 600px) {

.title-h1 {
padding-left: 15px;
padding-right: 15px;
    }

select {
  margin-right: 10px;
}
.screen__content_info {
  margin-bottom: 200px;
padding-left: 20px;
padding-right: 20px;
}

    .screen__content_photo {
  width: 240px;
  height: 240px;
}

.page__pagination {
  right: 10px;
}

}

@media (max-width: 400px) {

}